<a href="https://colab.research.google.com/github/dzkha/DS-Unit-2-Regression-2/blob/master/Pair_Programming_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict Employee Churn

In [0]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/axrd/datasets/master/HR/HR_comma_sep.csv')
df.head()

   satisfaction_level  last_evaluation  ...  Departments   salary
0                0.38             0.53  ...         sales     low
1                0.80             0.86  ...         sales  medium
2                0.11             0.88  ...         sales  medium
3                0.72             0.87  ...         sales     low
4                0.37             0.52  ...         sales     low

[5 rows x 10 columns]

## Exploratory Analysis & Visualization

## Describe any insights or intuitions

Type your answers here


---

Hint: Group by ("left")

## Build a Predictive Model

### Pre-processing?

### Split into Train/Val/Test sets

### Choose appropriate model. Fit, and predict.

### Evaluate your results